*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
    color: #000;
    background: #fff;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.title-org{
    color:orange;
}
html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}
.top-bar {
    width: 100%;
    background-color:white;
    display: flex;
    justify-content:center;
}
.top-bar .container-top-bar {
    width: 55%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    vertical-align: baseline;
    padding: 10px 0;
}

.container-top-bar a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #00000099;
}
.container-top-bar  img{
    margin-right: 5px;
}

.container-header {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
}
#header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
}
#header a{
    text-decoration: none;
    line-height: 22px;
}
.header-logo {
    width: 255px;
    vertical-align: baseline;
}
#header .hidden {
    font-weight: 600;
    font-family: 'SF Pro Display', sans-serif;
    padding-top: 6px;
}
#header .hidden a {
    font-weight: 700;
    font-size:18px;
}
#header .header-nav {
    width: 82%;
    display: flex;
    margin: auto;
}
#header .header-menu > ul {
    display: flex;
    list-style: none;
}
#header .header-menu > ul > li{
    padding: 19px 16px 19px;
}

#header .has-child >a{
   display: flex;
}
#header .has-child img{
    width:20px;
    height:20px;
}
.has-child:hover .menu_child1{
    display: flex;
}
.menu_child1{
    position: absolute;
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 24px 15.4% 32px;
    display: none;
    justify-content: space-between;
    top: 100%;
    left: 0;
    z-index: 99;
    background-color:white;
}
.menu_child1 > li.lv2_title {
    flex: 1;
}

.header-menu > ul > li .menu_child1 > li {
    padding: 12px 2.2%;
    float: none;
    display: block;
}
.menu_child1 > li > a {
    display: block;
    color: #000;
    border-bottom: 2px solid;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
.header-menu .menu_child_lv3 {
    display:block;
    padding: 0;
    margin-top: 16px;
}
.header-menu .menu_child_lv3 > li > a {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding:4px 0;
}
.header-menu > ul > li a {
    display: block; 
}
.header-menu-right{
    margin-left:158px;
}
.header-menu-right span{
    display:flex;
    align-items:center;
    justify-content: center;
    width:60px;
    height:100%;
    cursor: pointer;
    position: relative;
}
.header-menu-right span:hover{
    background-color: #ddd;
}

.header-menu-right img{
    width: 25px;
    height:25px;
}
.header-menu-right-item{
    width:200px;
    height: 110px;
    position: absolute;
    top:100%;
    right: 0%;
    display: none;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    background-color:white;
}
.header-menu-right-item li:hover {
    color:orange;
}
.header-menu-right span:hover .header-menu-right-item{
    display:flex;
}
.header-menu-right-item li{
    padding:8px;
    cursor: pointer;
}
.clearfix> li:hover .menu-org{
    color:orange;
}
.lv2_title:hover .menu-org1{
    color:orange;
}
.lv3_title:hover .menu-org2{
    color:orange;
}

.title-org{
    color: orange;
}
.original_price{
    color: orange;
}
.price_product_item{
    font-size: 14px;
    color: #00000099;
    margin-bottom: 10px;
}
.main-job-container{
    width: 100%;
    align-items: center;
}
.search-box{
    width: 80%;
    margin: auto;
    padding: 32px 0;
}
.main-job-container{
    background-color:#fff7e6;
}
.main-job__search-wapper{
    width: 60%;
    margin: auto;
    display:flex;
    align-items: center;
    flex-direction: row;
    padding: 6px 8px 6px 16px;  
    background-color: #ffe9d4;
    border-radius:8px;
}
.main-job__search-input{
    flex-basis: 50%;
    padding-right: 8px;
    border-right: 1px solid black;
}
.main-job__search-input input {
    width: 100%;
    background-color: #ffe9d4;
}
.main-job__search-address {
    flex-basis: 36%;
    padding: 0 24px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main-job__search-btn-box {
    flex-basis: 20%;
    padding-left: 24px; 
}
.main-job__search-btn{
    display: flex;
    background-color: orange;
    padding:8px 6px;
    border-radius:8px;
}
.main-job__search-btn img{
    max-height: 20px;
    padding-right: 10px;
}
.main-job__wapper{
    width: 100%;
    text-align: center;
    font-size:18px;
}
.main-job-list{
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 30px 0;
}
.main-job-list-menu{
    flex-basis: 45%;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 10px 10px;
    background-color: #ffe9d4;
}
.main-job-list-menu span{
    margin-right:8px;
}
.khoi img{
    animation: in-out 2s infinite ;
}
@keyframes in-out{
    form{
        transform: scale(1);
    }
    to{
        transform: scale(1.4);
    }
}
.main-apply-job{
    width: 100%;
    padding-top: 80px;
}
.main-apply-menu{
    width: 60%;
    margin: auto;
    display:flex;
    justify-content:space-around;
}
.main-apply-item{
    flex-basis: 45%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffe9d4;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 black;  ;
}
.main-apply-item-top img{
    max-width: 100%;
}
.main-apply-item-center{
    line-height: 22px;
    margin-bottom: 30px;
    height:250px;
    padding:16px;
}
.main-apply-item-center h4{
    font-size: 20px;
}
.main-apply-item-center>ul>li{
    padding: 10px 24px;
    position: relative;
}
.main-apply-item-center li::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    top: 16px;
    left: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
}
.main-apply-item-bottom{
    padding: 16px;
}
.main-apply-item-bottom a{
    position: absolute;
    bottom: 0;
    bottom: 16px;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    width: 90%;
    text-align: center;
    background-color:orange;
}
#footer{
    position: relative;
    top:100px;
    background-color:#262626;
    color: #fff;
}
.footer-content{
    width: 82%;
    margin: auto;
    padding : 34px 0 54px;
}
.footer-row{
    display:flex;
    justify-content:space-around;
}
.footer-title{
    margin-bottom:10px;
}
.footer-linklists a{
    color: #fff;
}
.footer-linklists li {
    margin-bottom: 8px;
    font-size: 12px;
}
.hotline-footer p {
    font-size: 14px;
    margin-bottom: 24px;
    color: #fff;
}
.address-footer{
    font-size: 13px;
}
.footer-item{
    flex: 1;
}
.tch-page{
    width:100%;
    position: relative;
}
._2zfs{
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
    height: 50%;
    position: absolute;
    z-index: -1;
}
.tch-page > img{
    width: 100%;
    position: relative;
    border: 1px solid #000;
}

.tch-page-img{
    display: flex;
    position: absolute;
    top: 15px;
    margin-left: 10px;
    z-index: 3;
}
._2zfs{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    right:0px;
    z-index: 2;
}
.tch-page-img img{
    border:3px solid #fff;
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%);
}
.tch-page-img-right{
    margin-left:10px;
}

.tch-page-img-right-top a{
    color: #fff;
    font-size:18px;
    text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
}
.tch-page-img-right-top span{
    width:20px;
    height: 20px;
    background-image: url(./image/tichxanh.png);
    background-repeat: no-repeat;
    text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
}
.tch-page-img-right span{
    text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
}
.tch-page-img-btn{
    width: 100%;
    height: 20px;
    padding: 0 12px;
    position: absolute; 
    top:120px
}
.tch-page-img-btn img{
    height: 70%;
}
.tch-page-img-btn a{
    height: 30px;
    color: #000;
    border: 1px solid #fff
}
.tch-page-img-btn1{
    line-height:1.6;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ddd;
    float: left;
}
.tch-page-img-btn2{
    width:28%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #ddd;
    float: right;
}
.tch-social-links li{
    float: left;
    padding-right:16px
}
#fixed-hotline-support {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 24px;
    bottom: 100px;
    background: #E57905;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    box-shadow: 0px 8px 36px rgb(0 0 0 / 17%);
    z-index: 99;
}
#fixed-hotline-support img {
    width: 30px;
    height: 30px;
    max-width: 100%;
    vertical-align: middle;
}

.page-content-left-main {
    position: sticky;
    top: 70px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display:none;
    align-items:center;
    justify-content:center;
    z-index: 9999;
}
.modal-content{
    width: 30%;
    background-color:#fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    animation: modalfadein ease 0.5s;
}
.modal-content-top{
    text-align: center;
    padding: 28px 0;
    flex:1;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
}
.modal-content-bottom{
    flex: 1;
    padding: 12px 0;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.modal-content-bottom p{
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    flex:1;
    text-align: center;
    vertical-align: middle;
}
.modal-content-bottom p:hover{
    color:orange;
    cursor: pointer;
}
.open{
    display: flex;
}
@keyframes modalfadein{
    from{
        opacity: 0;
        transform:translateY(-140px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}